@tailwind base;
@tailwind components;
@tailwind utilities;

/* .img span {
  @apply relative !important;
}
.img span img {
  @apply relative w-full h-full !important;
}

.card-recommend {
  @apply flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg !important;
} */

.image-container {
  width: 100%;
}
div,
span {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* 
.relative span{
  @apply relative !important
} */

/* .img-res {
  @apply img-relative;
} */
